@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* general */
*{
	font-family: 'Dosis', sans-serif;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	color: white;
	font-weight: 200;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	color: white;
	font-weight: 200;
}
h2 span, h1 span{
	font-family: inherit;
	font-weight: 600;
}
h3{
	font-size: 25px;
}
/* botones */
a{
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}
a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
	color: inherit;	
}
.navbar-nav>li>a:focus {
    outline: 0;
    color: inherit;
}
.first-btn{
	background: white;
	border-radius: 5px;
	padding: 10px 5px;
}
.btn-stroke {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
    border: 1px solid white;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    background: none;
    font-size: 18px;
}
.btn-stroke:hover{
	background: white;
	color: black;
	border: 1px solid white;
}
.navbar-nav>li>a.btn-stroke:focus{
	color: white;
	border: 1px solid white;
	background: transparent;
}
.navbar-nav>li>a.btn-stroke-b:focus{
	color: black;
	border: 1px solid black;
	background: transparent;
}
.btn-stroke-b {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 30px;
    border-radius: 5px;
    color: black;
    background: none;
    font-size: 18px;
}
.btn-stroke-b:hover{
	background: black;
	color: white;
	border: 1px solid black;
}
.btn-greellow{
	padding: 15px 30px;
	color: white;
	background: #CBC245;
	border-color: #CBC245;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 18px;
}
.btn-greellow:hover {
    color: white;
    background: #B8AF32;
    border-color: #B8AF32;
}
/* menu */

nav {
    position: fixed;
    width: 100%;
    z-index: 9;
    padding-top: 15px;
    padding-bottom: 10px;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}
.container-fluid>.navbar-header{
	margin-right: 0;
}
nav .btn-stroke{
	padding: 12px 18px;
	font-size: 16px;
}
nav .btn-stroke-b{
	padding: 12px 18px;
	font-size: 16px;
	margin-right: 10px;
}
.btns-menu {
    float: right;
    padding: 0;
    margin: 0;
}
a.navbar-brand {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 30px;
	font-weight: 200;
	text-transform: uppercase;
}
a.navbar-brand span{
	font-weight: 600;
	font-family: inherit;
}
button.navbar-toggle {
    background: white;
    margin-right: 0;
}
.navbar-toggle .icon-bar {
    background: #4b6e7f;
}
.headroom--pinned {
    display: block;
}
nav.headroom--unpinned{
	padding-top: 5px;
	background: #395b6fbd;
	padding-bottom: 3px;
}
li.btn-mobile {
    list-style: none;
    text-align: center;
}
.headroom--unpinned .navbar-brand{
	-webkit-transform: scale(.8);
	    -ms-transform: scale(.8);
	        transform: scale(.8);
}
.headroom--unpinned a{
	-webkit-transform: scale(.8);
	    -ms-transform: scale(.8);
	        transform: scale(.8);
}
.headroom--unpinned a.btn-stroke-b{
	margin-right: 0;
}

/* sections*/
body{
	position: relative;
}
.parallax{
	/* The image used */
	    background-image: url('../img/bg-hero.jpg');

	    /* Set a specific height */
	    height: 100vh;

	    /* Create the parallax scrolling effect */
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
}
.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}
section.header-bg.header-socios .container-cta h1 {
    font-size: 70px;
}
section.header-bg.header-socios .container-cta h3 {
    font-size: 25px;
}
section.header-bg.header-socios .container-cta .btn-greellow {
	margin-top: 35px;
    padding: 20px 35px;
    font-size: 22px;
}
section.header-bg.header-socios .container-cta {
    padding-top: 160px;
}
.scroll-down {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    text-align: center;
}
.scroll-down h4 {
    color: white;
    margin-bottom: 17px;
}
.scroll-down a {
    font-family: inherit;
}
.container-cta {
    padding-top: 212px;
    text-align: center;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

.container-cta h1{
	text-align: center;
	color: white;
}
.patente-input {
    background: #ffffff8c;
    display: block;
    width: 365px;
    margin: 0 auto;
    padding: 16px 13px 13px;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.inside-input input {
    width: 75px;
    height: 75px;
    background: #272727;
    border: solid 1px white;
}

.inside-input input[type=text]{
    padding: 5px;
    padding-left: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
.inside-input span {
    margin: 0 15px;
    font-size: 28px;
    color: #272727;
    vertical-align: 0px;
    font-weight: 600;
}
.patente-input > span:nth-of-type(1) {
    color: #272727;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 5px;
    display: block;
    margin-bottom: -5px;
}
.inside-input input, .inside-input span {
    display: inline-block;
}
.scroll-down img {
	-webkit-animation: arrow-down infinite 1.5s;
	        animation: arrow-down infinite 1.5s;
	-webkit-animation-timing-function: ease;
	        animation-timing-function: ease;
}
@-webkit-keyframes arrow-down {
    0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
    50% {-webkit-transform: translateY(5px);transform: translateY(5px);}
    100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}
@keyframes arrow-down {
    0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
    50% {-webkit-transform: translateY(5px);transform: translateY(5px);}
    100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

/* steps */

.steps{
	background: url('../img/bg-steps.jpg') center center;
	background-size: cover;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 90px;
}
.titles{
	font-size: 45px;
	letter-spacing: 3px;
}
.bajada-title{
	color: white;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 60px;
}
.num{
	color: white;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 20px;
	display: block;
	margin-bottom: 35px;
}
.steps-section{
	color: white;
}
.in-steps{
	width: 80%;
	margin: 0 auto;
}
.in-steps .num {
    font-size: 28px;
}
.in-s{
	width: 80%;
	margin: 0 auto;
}
.steps-section:nth-child(1) .num{
	border-bottom: #395C6F solid 4px;
}
.steps-section:nth-child(2) .num{
	border-bottom: #9E9728 solid 4px;
}
.steps-section:nth-child(3) .num{
	border-bottom: #73B4BC solid 4px;
}
.steps-section h4{
	font-size: 20px;
	font-weight: 600;
}
.steps-section p{
	font-weight: 200;
	font-size: 18px;
	margin-bottom: 30px;
}
.steps-socios .titles{
	margin-bottom: 60px;
}
.steps-section:nth-child(4) .num{
	border-bottom: #CBC245 solid 4px;
}
/* destacado */
.colour-block{
	color: white;
	text-align: center;
	padding-top: 20px;
    padding-bottom: 50px;
    min-height: 290px;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}
.colour-block img {
    max-height: 39px;
    margin-top: 35px;
    max-width: 139px;
    -webkit-transition: all ease .9s;
    -o-transition: all ease .9s;
    transition: all ease .9s;
}
.colour-block h3{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 15px;
}
.colour-block p{
	font-size: 18px;
	font-weight: 200;
}
.block-1{
	background: #CBC245;
}
.block-1:hover{
	background-color: #bdb337;
}
.block-2{
	background: #9E9728;
}
.block-2:hover{
	background-color: #948d21;
}
.block-3{
	background: #73B4BC;
}
.block-3:hover{
	background-color: #5f9fa7;
}
.block-4{
	background: #395C6F;
}
.block-4:hover{
	background-color: #304f61;
}

.colour-block:hover img{
	-webkit-animation: arrow-down infinite .5s;
	        animation: arrow-down infinite .5s;
	-webkit-animation-timing-function: ease;
	        animation-timing-function: ease;
	max-height: 100px;
	margin-top: 20px;
}
/* cta footer */
.cta-call{
	background-image: url('../img/bg-cta.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
}
.cta-call h2{
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	text-transform: uppercase;
	color: white;
	font-weight: 200;
}
.cta-call h2 span{
	font-family: inherit;
	font-weight: 600;
}
.cta-text{
	padding-top: 90px;
	padding-bottom: 95px;
}
.cta-text a{
	margin-top: 25px;
	border-color: #73B4BC;
	font-size: 25px;
	padding: 17px 43px;
}
.cta-text a img{
	margin-right: 17px;
	height: 38px;
}
.cta-text a.btn-stroke:hover{
	background: #72b4bc;
	color: white;
	border: 1px solid #71b4bc;
}
/* faq section */

.faq-general {
    text-align: left;
}
.faq {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
}
.faq span{
	color: #73B4BC;
	margin-right: 10px;
}
.faq-section{
	text-align: center;
	padding-top: 70px;
}
.faq-section h2, .faq-section p{
	color: black;
}

.cont-faq{
	background-color: #F7F7F7;
	padding-top: 65px;
    padding-bottom: 20px;
    border-top: 2px solid #e9e9e9;
}
.item {
    padding-bottom: 20px;
}
.item p {
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
}
.item p span {
    border-top: 1px solid #72b4bc;
    display: block;
    margin-bottom: 10px;
}
.faq-section .row:nth-child(1){
	position: relative;
}
.faq-section .btn-stroke {
    position: absolute;
    color: white;
    background: #CBC245;
    left: 0;
    right: 0;
    bottom: -30px;
    border-color: #CBC245;
    margin: 0 auto;
    width: 10%;
    min-width: 215px;
    max-width: 250px;
    text-transform: uppercase;
}
.faq-section .btn-stroke:hover {
    color: white;
    background: #B8AF32;
    border-color: #B8AF32;
}
/* seccion socios */
.section-socios{
	text-align: center;
	padding-top: 45px;	
}
.section-socios h2 {
	color: black;
}
.section-socios h2{
	margin-bottom: 60px;
}
.section-socios .block-1,
.section-socios .block-3{
	background: #F7F7F7;
	border-bottom: 22px solid #73B4BC;
}
.section-socios .block-2,
.section-socios .block-4{
	background: #EBEBEB;
	border-bottom: 22px solid #395b6f;
}
.section-socios .colour-block h3,
.section-socios .colour-block p{
	color: black;
}
.section-socios .colour-block img{
	fill: red;
}
.colour-block .btn-greellow{
	margin-top: 15px;
}
/* ad section*/
.publi-section .bg-publi:nth-child(1){
	background-color: #CBC245;
}
.publi-section .bg-publi:nth-child(2){
	background-color: #73B4BC;
}
.bg-publi {
    position: relative;
    padding-top: 30px;
    height: 300px;
    text-align: center;
    color: white;
}
img.img1 {
    height: 210px;
    position: absolute;
    left: 0;
    top: 50px;
}
img.img2 {
    height: 210px;
    position: absolute;
    right: 0;
    top: 50px;
}
.text-publi-1 h3, .text-publi-2 h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: 28px;
}
.text-publi-1 h3 span,
.text-publi-2 h3 span{
	font-weight: 600;
	font-family: inherit;
}
img.img3 {
    position: absolute;
    left: 59px;
    bottom: -1px;
    height: 184px;
}
.publi-prom p {
    text-align: left;
    font-weight: 100;
    font-size: 16px;
}
.publi-prom {
    width: 60%;
    margin-left: 35%;
    text-align: right;
}
.publi-prom span {
    font-size: 20px;
}
.text-publi-1 h4 {
    margin-top: 40px;
    font-size: 25px;
}
.text-publi-2 h4 {
    margin-bottom: 30px;
}
.text-publi-1 .btn-stroke {
    margin-top: 20px;
}
.text-publi-1 .btn-stroke:hover {
    background: #9e9729;
    color: white;
    border-color: #9e972a;
}
/* footer*/

footer {
	background-color: #1F1F1F;
	color: white;
	padding-top: 60px;
	padding-bottom: 100px;
}
footer ul{
	padding-left: 0;
}
footer ul li {
	list-style: none;
	margin-bottom: 5px;
	font-weight: 200;
	font-size: 14px;
}
footer ul li:first-child{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 600;
}
footer ul li a{
	color: white;
	display: block;
}
footer ul li a:hover{
	color: white;
}
footer ul li a:after{
	content: "";
    border-bottom: 1px solid transparent;
    display: block;
    width: 10px;
    height: 1px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 3px;
}
footer ul li a:hover:after{
	width: 100%;
	border-bottom-color: white;
}
.sub-footer {
    background: black;
    color: #565656;
    padding-top: 27px;
    padding-bottom: 25px;
}
.sub-footer p{
    margin: 0;
}


/* inicio 1199px */
@media (max-width: 1199px) {
    .colour-block {
        min-height: 335px;
    }
    .bg-publi {
        height: 323px;
    }
}
/* fin 1199px */

/* inicio 991px */
@media (max-width: 991px) {
    .colour-block {
        min-height: 326px;
    }
	.container-cta {
	    padding-top: 145px;
	}

}
/* fin 991px */

/* inicio 900px */
@media (max-width: 900px) {
    .colour-block {
        min-height: 374px;
    }
}
/* fin 900px */

/* inicio 767px */
@media (max-width: 767px) {
	.steps-section {
	    margin-bottom: 75px;
	}
	.colour-block {
	    min-height: auto;
	}
    .container-cta h1 {
        font-size: 36px;
    }
    .container-cta {
        padding-top: 105px;
    }
    h3 {
        font-size: 20px;
        margin-top: 10px;
    }
    .cta-call h2 {
        font-size: 30px;
    }
    .btns-menu a {
    	width: auto;
        margin: 0;
        margin-bottom: 5px;
    }
    .btns-menu {
        text-align: right;
        float: none;
    }
	.patente-input {
	    -webkit-transform: scale(0.9);
	        -ms-transform: scale(0.9);
	            transform: scale(0.9);
	}
	.header-bg{
		height: 100%;
	}
	.container-cta a{
		margin-bottom: 110px;
	}
	.in-steps {
	    width: 94%;
	}
	.colour-block img{
		-webkit-animation: arrow-down infinite .5s;
		        animation: arrow-down infinite .5s;
		-webkit-animation-timing-function: ease;
		        animation-timing-function: ease;
		max-height: 100px;
		margin-top: 20px;
	}
	.titles{
		font-size: 35px;
	}
	.header-bg {
	    height: 700px;
	}
	.inside-input input[type=text] {
	    font-size: 36px;
	}
	nav {
	    background: #395b6fcc;
	    padding: 0;
	    padding-top: 10px;
	}
	.btn-mobile {
	    margin-bottom: 5px;
	    margin-top: 5px;
	}
	.btn-mobile a {
	    text-align: center;
	    border: 0;
	    color: white;
	    border-radius: 0;
	}
	.btn-mobile a:hover {
	    border: 0;
	    color: white;
	    background: transparent;
	}
	.btns-menu > li > a.btn-stroke:focus, .btns-menu > li > a.btn-stroke:hover,
	.btns-menu > li > a.btn-stroke-b:focus, .btns-menu > li > a.btn-stroke-b:hover{
		background: #395b6f;
		border:0;
		color: white;
	}
	.container-fluid>.navbar-header {
	    padding-bottom: 10px;
	}
	.parallax {
	    height: 700px;
        background-size: auto 100%;
        background-position: right;
        background-attachment: scroll;
	}
	nav.headroom--unpinned {
	    padding: 0 10px;
	}
	nav.headroom--unpinned.container-fluid>.navbar-header {
	    padding-bottom: 0;
	}
	div#myNavbar{
		padding: 0;
	}
	.navbar-nav>li>a{
		display: block;
	}
	section.header-bg.header-socios .container-cta h1 {
	    font-size: 50px;
	}
	section.header-bg.header-socios .container-cta h3 {
	    font-size: 22px;
	}
	section.header-bg.header-socios .container-cta .btn-greellow {
	    margin-top: 35px;
	}
	section.header-bg.header-socios .container-cta {
	    padding-top: 160px;
	}
}
/* fin 767px */

/* inicio 550px */
@media (max-width: 550px) {
	h3 {
	    font-size: 16px;
	}
	.text-publi-1 {
	    width: 70%;
	    margin-left: 30%;
	    text-align: right;
	}
	img.img1 {
	    left: -28px;
	    top: 61px;
	}
	img.img2 {
	    display: none;
	}
	.bg-publi {
	    height: auto;
	    padding-bottom: 30px;
	}
	.publi-prom {
	    width: 55%;
	    text-align: right;
	    margin-left: 45%;
	}
	img.img3 {
	    left: -80px;
	    height: 297px;
	}
}
/* fin 550px */

/* inicio 425px */
@media (max-width: 425px) {
	.patente-input {
	    width: 85%;
	}
	.inside-input span {
	    width: 8%;
	    margin: 0;
	}
	.inside-input input{
	    width: 28%;
	    margin: 0;
	}
	.container-cta h1 {
	    font-size: 32px;
	}
	h3 {
	    font-size: 18px;
	}
	.btns-menu a {
	    font-size: 13px;
	}
	.inside-input input[type=text] {
	    font-size: 28px;
	}
}
/* fin 425px */

/* inicio 340px */
@media (max-width: 340px) {
	.header-bg {
	    height: 700px;
	}
	.parallax{
		height: 735px;
	}
}
/* fin 340px */










